// app global css in SCSS form
.main-width {
  width: 90% !important;
  max-width: 1200px !important;
}

.float-text-shadow{
  text-shadow: 0px 0px 1px black;
  color: white;
}

.bg-main {
  background: rgb(240, 240, 240);
}
